@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap"); * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.menu_content {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  background-color: rgb(38, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.circle h1 {
  color: white;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options .item {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  background-color: rgb(38, 0, 255);
  width: 150px;
  height: 40px;
}

.active {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  font-size: 12px;
  font-style: italic;
}

.active h1 {
  color: blue;
}

.active ~ .options .item {
  z-index: 0;
  opacity: 0.5;
}

.active ~ .options .item:hover {
  scale: 1.1;
  transition: scale 0.3s ease 0s;
  z-index: 3;
  opacity: 1;
}

.active ~ .options .item:nth-child(1) {
  transform: translate(-11rem, -11rem);
}

.active ~ .options .item:nth-child(2) {
  transform: translate(0px, -15.5rem);
  transition-delay: 0.1s;
}

.active ~ .options .item:nth-child(3) {
  transform: translate(11rem, -11rem);
  transition-delay: 0.2s;
}

.active ~ .options .item:nth-child(4) {
  transform: translate(15.5rem, 0rem);
}

.active ~ .options .item:nth-child(5) {
  transform: translate(11rem, 11rem);
  transition-delay: 0.1s;
}

.active ~ .options .item:nth-child(6) {
  transform: translate(0rem, 15.5rem);
  transition-delay: 0.2s;
}

.active ~ .options .item:nth-child(7) {
  transform: translate(-11rem, 11rem);
  transition-delay: 0.2s;
}

.active ~ .options .item:nth-child(8) {
  transform: translate(-15.5rem, 0rem);
  transition-delay: 0.2s;
}

@media (min-width: 654px) and (max-width: 767px) {
  .circle {
      width: 250px;
      height: 250px;
  }

  .active ~ .options .item:nth-child(1) {
      transform: translate(-12rem, -9rem);
  }

  .active ~ .options .item:nth-child(2) {
      transform: translate(0px, -12.5rem);
      transition-delay: 0.1s;
  }

  .active ~ .options .item:nth-child(3) {
      transform: translate(12rem, -9rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(4) {
      transform: translate(14.5rem, 0rem);
  }

  .active ~ .options .item:nth-child(5) {
      transform: translate(12rem, 9rem);
      transition-delay: 0.1s;
  }

  .active ~ .options .item:nth-child(6) {
      transform: translate(0rem, 13.5rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(7) {
      transform: translate(-12rem, 9rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(8) {
      transform: translate(-14.5rem, 0rem);
      transition-delay: 0.2s;
  }
}

@media (min-width: 545px) and (max-width: 654px) {
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 30vh;
  }

  .options .item {
      width: 120px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .circle {
      width: 130px;
      height: 130px;
  }

  .active ~ .options .item:nth-child(1) {
      transform: translate(-7.5rem, -5rem);
  }

  .active ~ .options .item:nth-child(2) {
      transform: translate(0rem, -8rem);
      transition-delay: 0.1s;
  }

  .active ~ .options .item:nth-child(3) {
      transform: translate(7.5rem, -5rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(4) {
      transform: translate(9.5rem, 0rem);
  }

  .active ~ .options .item:nth-child(5) {
      transform: translate(7.5rem, 5rem);
      transition-delay: 0.1s;
  }

  .active ~ .options .item:nth-child(6) {
      transform: translate(0rem, 8rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(7) {
      transform: translate(-7.5rem, 5rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(8) {
      transform: translate(-9.5rem, 0rem);
      transition-delay: 0.2s;
  }
}

@media (min-width: 320px) and (max-width: 544px) {
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin: 0px 10%; */
  }

  .circle {
      width: 300px;
      height: 300px;
      /*       transform: rotate(270deg); */
      padding: 20px;
  }

  .options .item {
      width: 100px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .options .item .dropdown-content {
    top: 0;
    left: 0;
    width: 100px;
}

  .active {
    width: 100px;
    height: 100px;
  }

  .active ~ .options .item:nth-child(1) {
      transform: translate(0rem, -8rem);
  }

  .active ~ .options .item:nth-child(2) {
      transform: translate(-6rem, -4rem);
      transition-delay: 0.1s;
  }

  .active ~ .options .item:nth-child(3) {
      transform: translate(-8rem, 0rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(4) {
      transform: translate(6rem, -4rem);
  }

  .active ~ .options .item:nth-child(5) {
      transform: translate(-6rem, 4rem);
      transition-delay: 0.1s;
  }

  .active ~ .options .item:nth-child(6) {
      transform: translate(8rem, 0rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(7) {
      transform: translate(6rem, 4rem);
      transition-delay: 0.2s;
  }

  .active ~ .options .item:nth-child(8) {
      transform: translate(0rem, 8rem);
      transition-delay: 0.2s;
  }
}

.options .item .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
  z-index: 1;
  top: 40px;
  left: 0px;
  flex-direction: column;
}

.options .item:hover .dropdown-content {
  display: flex;
}

.options .item .dropdown-content a {
  color: rgb(17, 0, 255);
  padding: 10px;
  display: block;
  text-decoration: none;
}

.options .item .dropdown-content a:hover {
  background-color: rgb(127, 116, 250);
  color: rgb(255, 255, 255);
}

.homebtn {
  width: 100%;
  height: 100vh;
  position: absolute;
  transition-delay: 2s;
}

#floatingButton {
  position: fixed;
  bottom: 21px;
  right: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
  height: 36px;
  transition: opacity 0.3s ease 0s;
}

#floatingButton:hover {
  opacity: 0.6;
}
