@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.menu_content {
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  background: #4400ff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 35px;
  box-shadow:  3px 0 0 rgba(0, 0, 0, 0.14);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

/* .circle:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
} */

.circle h1 {
  color: white;
  padding: 10px;
}

.circle:enabled + .circle h1 {
  font-style: italic;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options .item {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  background-color: rgb(145, 64, 64);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 4px 1px;
  width: 35vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.12)
}

.options .item:nth-child(1) {
  background: #000000;
}

.options .item:nth-child(2) {
  background: #669AE1;
}

.options .item:nth-child(3) {
  background: #70CC72;
}

.options .item:nth-child(4) {
  background: #FE4365;
}

.options .item:nth-child(5) {
  background: #C49CDE;
}

.options .item:nth-child(6) {
  background: #FC913A;
}

.options .item:nth-child(7) {
  background: #62C2E4;
}

.options .item:nth-child(8) {
  background: #c8ff00;
}

.active~.options .item {
  z-index: 0;
  opacity: 0.6;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 2px 0 rgba(0, 0, 0, 0.14)
}

.active~.options .item:hover {
  scale: 1.1;
  transition: scale 0.2s ease-in-out 0s;
  z-index: 3;
  opacity: 1;
  /* box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 18px; */
}

.active~.options .item:nth-child(1) {
  transform: translate(-11rem, -11rem);
}

.active~.options .item:nth-child(2) {
  transform: translate(0px, -15.5rem);
  transition-delay: 0.1s;
}

.active~.options .item:nth-child(3) {
  transform: translate(11rem, -11rem);
  transition-delay: 0.2s;
}

.active~.options .item:nth-child(4) {
  transform: translate(15.5rem, 0rem);
}

.active~.options .item:nth-child(5) {
  transform: translate(11rem, 11rem);
  transition-delay: 0.1s;
}

.active~.options .item:nth-child(6) {
  transform: translate(0rem, 15.5rem);
  transition-delay: 0.2s;
}

.active~.options .item:nth-child(7) {
  transform: translate(-11rem, 11rem);
  transition-delay: 0.2s;
}

.active~.options .item:nth-child(8) {
  transform: translate(-15.5rem, 0rem);
  transition-delay: 0.2s;
}

@media (min-width: 1201px) {
  .circle {
    width: 700px;
    height: 700px;
    font-size: 75px;
  }

  .options .item {
    width: 200px;
    height: 65px;
  }

  .active {
    width: 450px;
    height: 450px;
    font-size: 45px;
  }

  .active~.options .item:nth-child(1) {
    transform: translate(-21rem, -14rem);
  }

  .active~.options .item:nth-child(2) {
    transform: translate(0px, -25.5rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(3) {
    transform: translate(21rem, -14rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(4) {
    transform: translate(27.5rem, 0rem);
  }

  .active~.options .item:nth-child(5) {
    transform: translate(21rem, 14rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(6) {
    transform: translate(0rem, 25.5rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(7) {
    transform: translate(-21rem, 14rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) {
    transform: translate(-27.5rem, 0rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(2) .dropdown-content,
  .active~.options .item:nth-child(3) .dropdown-content,
  .active~.options .item:nth-child(4) .dropdown-content,
  .active~.options .item:nth-child(8) .dropdown-content {
    top: 65px !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .circle {
    width: 550px;
    height: 550px;
    font-size: 30px;
  }

  .options .item {
    width: 200px;
    height: 65px;
  }

  .active {
    width: 350px;
    height: 350px;
    font-size: 25px;
  }

  .active~.options .item:nth-child(1) {
    transform: translate(-19rem, -14rem);
  }

  .active~.options .item:nth-child(2) {
    transform: translate(0px, -24.5rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(3) {
    transform: translate(19rem, -14rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(4) {
    transform: translate(23.5rem, 0rem);
  }

  .active~.options .item:nth-child(5) {
    transform: translate(19rem, 14rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(6) {
    transform: translate(0rem, 24.5rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(7) {
    transform: translate(-19rem, 14rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) {
    transform: translate(-23.5rem, 0rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(2) .dropdown-content,
  .active~.options .item:nth-child(3) .dropdown-content,
  .active~.options .item:nth-child(4) .dropdown-content,
  .active~.options .item:nth-child(8) .dropdown-content {
    top: 65px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .options .item {
    width: 160px;
    height: 55px;
  }

  .active {
    width: 300px;
    height: 300px;
    font-size: 25px;
  }

  .active~.options .item:nth-child(1) {
    transform: translate(-14rem, -9rem);
  }

  .active~.options .item:nth-child(2) {
    transform: translate(0px, -16.5rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(3) {
    transform: translate(14rem, -9rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(4) {
    transform: translate(18.5rem, 0rem);
  }

  .active~.options .item:nth-child(5) {
    transform: translate(14rem, 9rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(6) {
    transform: translate(0rem, 16.5rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(7) {
    transform: translate(-14rem, 9rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) {
    transform: translate(-18.5rem, 0rem);
    transition-delay: 0.2s;
  }

  .options .item:nth-child(5) .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
    z-index: 1;
    top: -220px;
    left: 0px;
    border-radius: 5px;
    flex-direction: column-reverse !important;
  }
}

@media (min-width: 654px) and (max-width: 767px) {
  .options .item {
    width: 130px;
    height: 40px;
  }

  .options .item h1 {
    font-size: 25px;
  }

  .active {
    width: 300px;
    height: 300px;
    font-size: 25px;
  }

  .active~.options .item:nth-child(1) {
    transform: translate(-12rem, -9rem);
  }

  .active~.options .item:nth-child(2) {
    transform: translate(0px, -12.5rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(3) {
    transform: translate(12rem, -9rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(4) {
    transform: translate(14.5rem, 0rem);
  }

  .active~.options .item:nth-child(5) {
    transform: translate(12rem, 9rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(6) {
    transform: translate(0rem, 13.5rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(7) {
    transform: translate(-12rem, 9rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) {
    transform: translate(-14.5rem, 0rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) .dropdown-content,
  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(2) .dropdown-content,
  .active~.options .item:nth-child(3) .dropdown-content,
  .active~.options .item:nth-child(4) .dropdown-content {
    top: 40px;
  }

}

@media (min-width: 576px) and (max-width: 653px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30vh;
  }

  .options .item {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .options .item h1 {
    font-size: 20px;
  }

  .circle {
    width: 400px;
    height: 400px;
    font-size: 35px;
  }

  .active {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }

  .active~.options .item:nth-child(1) {
    transform: translate(-10.5rem, -6rem);
  }

  .active~.options .item:nth-child(2) {
    transform: translate(0rem, -11rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(3) {
    transform: translate(10.5rem, -6rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(4) {
    transform: translate(13.5rem, 0rem);
  }

  .active~.options .item:nth-child(5) {
    transform: translate(10.5rem, 6rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(6) {
    transform: translate(0rem, 11rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(7) {
    transform: translate(-10.5rem, 6rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) {
    transform: translate(-13.5rem, 0rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) .dropdown-content,
  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(2) .dropdown-content,
  .active~.options .item:nth-child(3) .dropdown-content,
  .active~.options .item:nth-child(4) .dropdown-content {
    top: 30px;
  }

}

@media (min-width: 370px) and (max-width: 575px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 45px;
  }

  .active {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }

  .options .item {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .options .item h1 {
    font-size: 15px;
  }

  .dropdown-content {
    top: 0px;
    left: 0px;
  }

  .active~.options .item:nth-child(1) {
    transform: translate(-7rem, -5rem);
  }

  .active~.options .item:nth-child(2) {
    transform: translate(0rem, -9rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(3) {
    transform: translate(7rem, -5rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(4) {
    transform: translate(8.5rem, 0rem);
  }

  .active~.options .item:nth-child(5) {
    transform: translate(7rem, 5rem);
    transition-delay: 0.1s;
  }

  .active~.options .item:nth-child(6) {
    transform: translate(0rem, 9rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(7) {
    transform: translate(-7rem, 5rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(8) {
    transform: translate(-8.5rem, 0rem);
    transition-delay: 0.2s;
  }

  .active~.options .item:nth-child(1) .dropdown-content,
  .active~.options .item:nth-child(2) .dropdown-content,
  .active~.options .item:nth-child(3) .dropdown-content,
  .active~.options .item:nth-child(4) .dropdown-content,
  .active~.options .item:nth-child(8) .dropdown-content {
    top: 26px !important;
  }
}

.options .item .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(235, 235, 235);
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px; */
  z-index: 1;
  top: 56px;
  left: 0px;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .15);
}

.options .item:nth-child(5) .dropdown-content,
.options .item:nth-child(6) .dropdown-content,
.options .item:nth-child(7) .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
  z-index: 1;
  top: -222px;
  left: 0px;
  border-radius: 5px;
  flex-direction: column-reverse;
}

.options .item:hover .dropdown-content {
  display: flex;
}

.options .item .dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.options .item .dropdown-content a:hover {
  background-color: rgb(127, 116, 250);
  color: rgb(255, 255, 255);
}

.homebtn {
  height: 100vh;
  position: absolute;
  transition-delay: 2s;
}

#floatingButton {
  position: fixed;
  bottom: 21px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
  height: 36px;
  transition: opacity 0.1s ease 0s;
  top: 1px;
  left: 3px;
  font-size: 14px;
  display: none;
}

#floatingButton:hover {
  opacity: 0.6;
}
